<div class="input-wrapper">
    <!-- LABEL -->
    <label [for]="inputName()" *ngIf="withLabel()">{{label()}}</label>
    <!-- INPUT + ICON + DATEPICKER -->
    <div class="input-content">
        <ng-container [ngSwitch]="true">
            <!-- 1) Autocomplete -->
            <input *ngSwitchCase="withAutocomplete()" [type]="inputType()" [value]="value"
                [placeholder]="inputPlaceholder()" [matAutocomplete]="auto" (input)="onInput($event)" />

            <!-- 2) Phone mask -->
            <input *ngSwitchCase="inputName() === 'phone'" [type]="inputType()" [value]="value"
                [placeholder]="inputPlaceholder()" (input)="onInput($event)" mask="(00) 00000-0000" />

            <!-- 3) Date picker -->
            <input *ngSwitchCase="inputName() === 'dateOfBirth'" [type]="inputType()" [value]="value"
                [placeholder]="inputPlaceholder()" [matDatepicker]="pickerDateOfBirth" />

            <!-- 4) Default text -->
            <input *ngSwitchDefault [value]="value" [type]="inputType()" [placeholder]="inputPlaceholder()"
                (input)="onInput($event)" />
        </ng-container>


        <div class="icon">
            <mat-icon *ngIf="inputName() !== 'dateOfBirth'" [svgIcon]="iconName()"></mat-icon>

            <!-- calendar toggle only if dateOfBirth -->
            <div class="calendar" *ngIf="inputName() === 'dateOfBirth'">
                <mat-datepicker-toggle matSuffix [for]="pickerDateOfBirth" class="calendar-icon input-with-label">
                    <mat-icon matDatepickerToggleIcon svgIcon="app:calendar"></mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker class="calendar-primary" #pickerDateOfBirth disabled="false"></mat-datepicker>
            </div>
        </div>
    </div>

    <!-- AUTOCOMPLETE PANEL -->
    <mat-autocomplete *ngIf="withAutocomplete()" #auto="matAutocomplete" class="autocomplete-panel">
        @for(option of selectedAutocompleteGroup | keyvalue; track option) {
        <mat-option class="option" [value]="option.key">
            <span class="text-option">{{ option.key }}</span>
        </mat-option>
        }
    </mat-autocomplete>

    <!-- ERROR HINTS -->
    @for (errorKey of errorKeys; track errorKey) {
    <span class="error-hint" *ngIf="control!.hasError(errorKey) && (control?.touched || control?.dirty)">
        @if (errorKey === 'minlength') {
        {{
        errorMap[errorKey]
        | translate:{ min: control?.errors?.['minlength']?.requiredLength }
        }}
        } @else if (errorKey === 'maxlength') {
        {{
        errorMap[errorKey]
        | translate:{ max: control?.errors?.['maxlength']?.requiredLength }
        }}
        } @else {
        {{
        errorMap[errorKey] | translate }}
        }
    </span>
    }
</div>