@use "./../../../../assets/styles/variables.scss" as v;

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-section {
    gap: 0.5rem;
    flex-grow: 1;
    background-color: v.$secondary-bg;

    img {
      width: 520px;
      height: auto;
      object-fit: cover;
    }
  }

  .form-section {
    flex-grow: 0.25;
    padding: v.$space-m v.$space-l !important;

    img {
      margin-bottom: v.$space-xl;
      width: 280px;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: v.$space-xxl;
    }

    
  }
}
